# **Tópicos**

<ol type="1">
  <li>Introdução;</li>
  <li>Análise Exploratória de Dados;</li>
  <li>Visualização Interativa de Dados;</li>
  <li>Storytelling.</li>
</ol>

## 1 - Introdução

### **1.1 - TLDR**

 - **Dashboard**:
  - Google Data Studio ([link](https://lookerstudio.google.com/reporting/1dcda4b4-2a8a-4f1f-936e-9a3b06dc82d2)).
 - **Processamento**:
  - Kaggle Notebook ([link](https://www.kaggle.com/code/thiagomartinslk/covid-19-coleta-e-tratamento-de-dados)).
 - **Fontes**:
  - Casos pela universidade John Hopkins ([link](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports));
  - Vacinação pela universidade de Oxford ([link](https://covid.ourworldindata.org/data/owid-covid-data.csv)).

### **1.2 - Pandemia Coronavírus 2019**

> A COVID-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global. Fonte: Governo brasileiro ([link](https://www.gov.br/saude/pt-br/coronavirus/o-que-e-o-coronavirus)).

A disponibilidade de dados sobre a evolução da pandemia no tempo em uma determinada região geográfica é fundamental para o seu combate! Este projeto busca construir um dashboard de dados para exploração e visualização interativa de dados sobre o avanço de casos e da vacinação do Brasil. O processamento de dados está neste [link](https://www.kaggle.com/code/thiagomartinslk/covid-19-coleta-e-tratamento-de-dados) e o dashboard, neste [link](https://lookerstudio.google.com/reporting/1dcda4b4-2a8a-4f1f-936e-9a3b06dc82d2).

### **1.3 - Dados**

Os dados sobre **casos da COVID-19** são compilados pelo centro de ciência de sistemas e engenharia da universidade americana **John Hopkins** ([link](https://www.jhu.edu)). Os dados são atualizados diariamente deste janeiro de 2020 com uma granularidade temporal de dias e geográfica de regiões de países (estados, condados, etc.). O website do projeto pode ser acessado neste [link](https://systems.jhu.edu/research/public-health/ncov/) enquanto os dados, neste [link](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports). Abaixo estão descritos os dados derivados do seu processamento.

 - **date**: data de referência;
 - **state**: estado;
 - **country**: país;
 - **population**: população estimada;
 - **confirmed**: número acumulado de infectados;
 - **confirmed_1d**: número diário de infectados;
 - **confirmed_moving_avg_7d**: média móvel de 7 dias do número diário de infectados;
 - **confirmed_moving_avg_7d_rate_14d**: média móvel de 7 dias dividido pela média móvel de 7 dias de 14 dias atrás;
 - **deaths**: número acumulado de mortos;
 - **deaths_1d**: número diário de mortos;
 - **deaths_moving_avg_7d**: média móvel de 7 dias do número diário de mortos;
 - **deaths_moving_avg_7d**: média móvel de 7 dias dividido pela média móvel de 7 dias de 14 dias atrás;
 - **month**: mês de referência;
 - **year**: ano de referência.

Os dados sobre **vacinação da COVID-19** são compilados pelo projeto Nosso Mundo em Dados (*Our World in Data* ou OWID) da universidade britânica de **Oxford** ([link](https://www.ox.ac.uk)). Os dados são **atualizados diariamente** deste janeiro de 2020 com uma **granularidade temporal de dias e geográfica de países**. O website do projeto pode ser acessado neste [link](https://ourworldindata.org) enquanto os dados, neste [link](https://covid.ourworldindata.org/data/owid-covid-data.csv). Abaixo estão descritos os dados derivados do seu processamento.

 - **date**: data de referência;
 - **country**: país;
 - **population**: população estimada;
 - **total**: número acumulado de doses administradas;
 - **one_shot**: número acumulado de pessoas com uma dose;
 - **one_shot_perc**: número acumulado relativo de pessoas com uma dose;
 - **two_shots**: número acumulado de pessoas com duas doses;
 - **two_shot_perc**: número acumulado relativo de pessoas com duas doses;
 - **three_shots**: número acumulado de pessoas com três doses;
 - **three_shot_perc**: número acumulado relativo de pessoas com três doses;
 - **month**: mês de referência;
 - **year**: ano de referência.

##2 - Instalando Dependências

Instalação da biblioteca Selenium.

In [ ]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.30.0-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: urllib3<3,>=1.26 in /usr/local/lib/python3.11/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (2.3.0)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.29.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.12.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.11/dist-packages (from selenium) (2025.1.31)
Requirement already satisfied: typing_extensions~=4.9 in /usr/local/lib/python3.11/dist-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in /usr/local/lib/python3.11/dist-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (3.10)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (1.3.1)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.11/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Downloading selenium-4.30.0-py3-none-any.whl (9.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 19.1 MB/s eta 0:00:00
Downloading trio-0.29.0-py3-none-any.whl (492 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 13.3 MB/s eta 0:00:00
Downloading trio_websocket-0.12.2-py3-none-any.whl (21 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Installing collected packages: wsproto, outcome, trio, trio-websocket, selenium
Successfully installed outcome-1.3.0.post0 selenium-4.30.0 trio-0.29.0 trio-websocket-0.12.2 wsproto-1.2.0

Atualizar a lista de pacotes disponíveis

In [ ]:
!apt-get update

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,381 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [4,041 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,043 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,538 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [55.7 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [35.2 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,784 kB]
Get:18 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,686 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [3,884 kB]
Get:20 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,733 kB]
Get:21 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,239 kB]
Get:22 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [47.7 kB]
Fetched 29.9 MB in 9s (3,243 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

Instalação do driver do Chromium

In [ ]:
!apt-get install chromium-driver

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Note, selecting 'chromium-chromedriver' instead of 'chromium-driver'
The following additional packages will be installed:
  apparmor chromium-browser libfuse3-3 snapd squashfs-tools systemd-hwe-hwdb udev
Suggested packages:
  apparmor-profiles-extra apparmor-utils fuse3 zenity | kdialog
The following NEW packages will be installed:
  apparmor chromium-browser chromium-chromedriver libfuse3-3 snapd squashfs-tools systemd-hwe-hwdb
  udev
0 upgraded, 8 newly installed, 0 to remove and 37 not upgraded.
Need to get 30.2 MB of archives.
After this operation, 123 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 apparmor amd64 3.0.4-2ubuntu2.4 [598 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 squashfs-tools amd64 1:4.5-3build1 [159 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 udev amd64 249.11-0ubuntu3.12 [1,557 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfuse3-3 amd64 3.10.5-1build1 [81.2 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 snapd amd64 2.67.1+22.04 [27.8 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 chromium-browser amd64 1:85.0.4183.83-0ubuntu2.22.04.1 [49.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 chromium-chromedriver amd64 1:85.0.4183.83-0ubuntu2.22.04.1 [2,308 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 systemd-hwe-hwdb all 249.11.5 [3,228 B]
Fetched 30.2 MB in 2s (12.9 MB/s)
Preconfiguring packages ...
Selecting previously unselected package apparmor.
(Reading database ... 126209 files and directories currently installed.)
Preparing to unpack .../apparmor_3.0.4-2ubuntu2.4_amd64.deb ...
Unpacking apparmor (3.0.4-2ubuntu2.4) ...
Selecting previously unselected package squashfs-tools.
Preparing to unpack .../squashfs-tools_1%3a4.5-3build1_amd64.deb ...
Unpacking squashfs-tools (1:4.5-3build1) ...
Selecting previously unselected package udev.
Preparing to unpack .../udev_249.11-0ubuntu3.12_amd64.deb ...
Unpacking udev (249.11-0ubuntu3.12) ...
Selecting previously unselected package libfuse3-3:amd64.
Preparing to unpack .../libfuse3-3_3.10.5-1build1_amd64.deb ...
Unpacking libfuse3-3:amd64 (3.10.5-1build1) ...
Selecting previously unselected package snapd.
Preparing to unpack .../snapd_2.67.1+22.04_amd64.deb ...
Unpacking snapd (2.67.1+22.04) ...
Setting up apparmor (3.0.4-2ubuntu2.4) ...
Created symlink /etc/systemd/system/sysinit.target.wants/apparmor.service → /lib/systemd/system/apparmor.service.
Setting up squashfs-tools (1:4.5-3build1) ...
Setting up udev (249.11-0ubuntu3.12) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libfuse3-3:amd64 (3.10.5-1build1) ...
Setting up snapd (2.67.1+22.04) ...
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.apparmor.service → /lib/systemd/system/snapd.apparmor.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.autoimport.service → /lib/systemd/system/snapd.autoimport.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.core-fixup.service → /lib/systemd/system/snapd.core-fixup.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.recovery-chooser-trigger.service → /lib/systemd/system/snapd.recovery-chooser-trigger.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.seeded.service → /lib/systemd/system/snapd.seeded.service.
Created symlink /etc/systemd/system/cloud-final.service.wants/snapd.seeded.service → /lib/systemd/system/snapd.seeded.service.
Unit /lib/systemd/system/snapd.seeded.service is added as a dependency to a non-existent unit cloud-final.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.service → /lib/systemd/system/snapd.service.
Created symlink /etc/systemd/system/timers.target.wants/snapd.snap-repair.timer → /lib/systemd/system/snapd.snap-repair.timer.
Created symlink /etc/systemd/system/sockets.target.wants/snapd.socket → /lib/systemd/system/snapd.socket.
Created symlink /etc/systemd/system/final.target.wants/snapd.system-shutdown.service → /lib/systemd/system/snapd.system-shutdown.service.
Selecting previously unselected package chromium-browser.
(Reading database ... 126638 files and directories currently installed.)
Preparing to unpack .../chromium-browser_1%3a85.0.4183.83-0ubuntu2.22.04.1_amd64.deb ...
=> Installing the chromium snap
==> Checking connectivity with the snap store
===> System doesn't have a working snapd, skipping
Unpacking chromium-browser (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_1%3a85.0.4183.83-0ubuntu2.22.04.1_amd64.deb ...
Unpacking chromium-chromedriver (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Selecting previously unselected package systemd-hwe-hwdb.
Preparing to unpack .../systemd-hwe-hwdb_249.11.5_all.deb ...
Unpacking systemd-hwe-hwdb (249.11.5) ...
Setting up systemd-hwe-hwdb (249.11.5) ...
Setting up chromium-browser (1:85.0.4183.83-0ubuntu2.22.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Processing triggers for udev (249.11-0ubuntu3.12) ...
Processing triggers for mailcap (3.70+nmu1ubuntu1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for dbus (1.12.20-2ubuntu4.1) ...

##3 - Web Scraping

### 3.1 - Importação das Bibliotecas

***1*** - Importação das bibliotecas

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np

***2*** - Suprimindo avisos de erro.

In [ ]:
# Para não ficar recebendo mensagens de erro desnecessário
import warnings
warnings.filterwarnings('ignore')

### 3.2 - Configuração do Chromium para Selenium

***1*** -  Configurando o driver para o Selenium.

In [ ]:
options = webdriver.ChromeOptions()

#options.add_argument('--verbose')
options.add_argument('--no-sandbox') # Desativa o sandbox
options.add_argument('--headless')  # Executa em modo headless (sem interface gráfica)

***2*** - Iniciando o driver e aplicando as configurações pré-definidas.

In [ ]:
# Inicia o ChromeDriver
driver = webdriver.Chrome(options=options)

### 3.3 - Web Scraping

***Aviso***: O código a seguir pode levar um tempo considerável para ser executado, pois realiza o download de 1.998 arquivos.

***1*** - Este código utiliza Selenium para acessar a página do GitHub que contém os arquivos CSV com dados da COVID-19.  
Ele extrai os nomes dos arquivos, faz o download de cada um deles e os consolida em um único DataFrame.  
A coluna 'Date' é criada a partir do nome do arquivo e convertida para o formato de data.  
Por fim, o DataFrame consolidado é salvo como um arquivo CSV localmente.

In [ ]:
# URL da página do GitHub que contém os arquivos CSV
url = "https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports"

# Abrindo o navegador e acessando a URL
driver.get(url)

# Capturar os links dos arquivos CSV
name_files = driver.find_elements(By.XPATH, '//a[contains(@title, ".csv") and contains(@aria-label, "(File)")]')

# Extrair os nomes dos arquivos
file_names = [file.get_attribute("title") for file in name_files]

# Imprimir o total de arquivos encontrados
print(len(file_names))

# Fechar o navegador
driver.quit()

# Inicializando um DataFrame vazio para armazenar os dados consolidados
df = pd.DataFrame()
cont = 0 # Contador para controle do número de arquivos processados

# Loop para baixar e processar cada arquivo CSV
for file in file_names:

    # Carregar o arquivo CSV diretamente do repositório do GitHub
    # Por quer não uso a variavel url com o link do repositório?
    # porque por algum motivo estranho o Pandas não está conseguindo pegar o arquivo quando tento usar a variavel url ¨\(:/)/¨
    cases = pd.read_csv(f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{file}', sep=',')

    # Criar uma nova coluna 'Date' com a data extraída do nome do arquivo
    cases['Date'] = file.split('.')[0]
    # Converter a coluna 'Date' para o formato de data (datetime)
    cases['Date'] = pd.to_datetime(cases['Date'], format='%m-%d-%Y', errors='coerce')

    # Concatenar os dados do arquivo atual ao DataFrame principal
    df = pd.concat([df, cases], axis=0, ignore_index=True)

    # Atualizar o contador e exibir o progresso
    cont = cont + 1
    print(f'{cont} de {len(file_names)}.')     # Exibir o número de arquivos processados
    print(f'Tamanho do DataFrame. \n{df.shape}') # Exibir o tamanho atual do DataFrame

# Salvar o DataFrame consolidado em um arquivo CSV localmente
df.to_csv('./covid19.csv', index=False)

A saída de streaming foi truncada nas últimas 5000 linhas.
Tamanho do DataFrame.
(1129394, 18)
333 de 1998.
Tamanho do DataFrame.
(1133410, 18)
334 de 1998.
Tamanho do DataFrame.
(1137426, 18)
335 de 1998.
Tamanho do DataFrame.
(1137537, 18)
336 de 1998.
Tamanho do DataFrame.
(1137648, 18)
337 de 1998.
Tamanho do DataFrame.
(1141662, 18)
338 de 1998.
Tamanho do DataFrame.
(1145676, 18)
339 de 1998.
Tamanho do DataFrame.
(1149692, 18)
340 de 1998.
Tamanho do DataFrame.
(1153708, 18)
341 de 1998.
Tamanho do DataFrame.
(1157724, 18)
342 de 1998.
Tamanho do DataFrame.
(1161740, 18)
343 de 1998.
Tamanho do DataFrame.
(1161851, 18)
344 de 1998.
Tamanho do DataFrame.
(1161962, 18)
345 de 1998.
Tamanho do DataFrame.
(1165976, 18)
346 de 1998.
Tamanho do DataFrame.
(1169990, 18)
347 de 1998.
Tamanho do DataFrame.
(1174006, 18)
348 de 1998.
Tamanho do DataFrame.
(1178022, 18)
349 de 1998.
Tamanho do DataFrame.
(1182038, 18)
350 de 1998.
Tamanho do DataFrame.
(1186054, 18)
351 de 1998.
Tamanho do DataFrame.
(1186166, 18)
352 de 1998.
Tamanho do DataFrame.
(1186278, 18)
353 de 1998.
Tamanho do DataFrame.
(1190292, 18)
354 de 1998.
Tamanho do DataFrame.
(1194306, 18)
355 de 1998.
Tamanho do DataFrame.
(1198322, 18)
356 de 1998.
Tamanho do DataFrame.
(1202338, 18)
357 de 1998.
Tamanho do DataFrame.
(1206354, 18)
358 de 1998.
Tamanho do DataFrame.
(1210370, 18)
359 de 1998.
Tamanho do DataFrame.
(1210482, 18)
360 de 1998.
Tamanho do DataFrame.
(1210594, 18)
361 de 1998.
Tamanho do DataFrame.
(1214608, 18)
362 de 1998.
Tamanho do DataFrame.
(1218622, 18)
363 de 1998.
Tamanho do DataFrame.
(1222638, 18)
364 de 1998.
Tamanho do DataFrame.
(1226654, 18)
365 de 1998.
Tamanho do DataFrame.
(1230670, 18)
366 de 1998.
Tamanho do DataFrame.
(1234686, 18)
367 de 1998.
Tamanho do DataFrame.
(1234806, 18)
368 de 1998.
Tamanho do DataFrame.
(1234926, 18)
369 de 1998.
Tamanho do DataFrame.
(1238940, 18)
370 de 1998.
Tamanho do DataFrame.
(1242954, 18)
371 de 1998.
Tamanho do DataFrame.
(1246970, 18)
372 de 1998.
Tamanho do DataFrame.
(1250986, 18)
373 de 1998.
Tamanho do DataFrame.
(1255002, 18)
374 de 1998.
Tamanho do DataFrame.
(1259018, 18)
375 de 1998.
Tamanho do DataFrame.
(1259138, 18)
376 de 1998.
Tamanho do DataFrame.
(1259258, 18)
377 de 1998.
Tamanho do DataFrame.
(1263272, 18)
378 de 1998.
Tamanho do DataFrame.
(1267286, 18)
379 de 1998.
Tamanho do DataFrame.
(1271302, 18)
380 de 1998.
Tamanho do DataFrame.
(1275318, 18)
381 de 1998.
Tamanho do DataFrame.
(1279334, 18)
382 de 1998.
Tamanho do DataFrame.
(1283350, 18)
383 de 1998.
Tamanho do DataFrame.
(1283472, 18)
384 de 1998.
Tamanho do DataFrame.
(1283594, 18)
385 de 1998.
Tamanho do DataFrame.
(1287608, 18)
386 de 1998.
Tamanho do DataFrame.
(1291622, 18)
387 de 1998.
Tamanho do DataFrame.
(1295638, 18)
388 de 1998.
Tamanho do DataFrame.
(1299654, 18)
389 de 1998.
Tamanho do DataFrame.
(1303670, 18)
390 de 1998.
Tamanho do DataFrame.
(1307686, 18)
391 de 1998.
Tamanho do DataFrame.
(1307813, 18)
392 de 1998.
Tamanho do DataFrame.
(1307940, 18)
393 de 1998.
Tamanho do DataFrame.
(1311954, 18)
394 de 1998.
Tamanho do DataFrame.
(1315968, 18)
395 de 1998.
Tamanho do DataFrame.
(1319984, 18)
396 de 1998.
Tamanho do DataFrame.
(1324000, 18)
397 de 1998.
Tamanho do DataFrame.
(1328016, 18)
398 de 1998.
Tamanho do DataFrame.
(1332032, 18)
399 de 1998.
Tamanho do DataFrame.
(1332164, 18)
400 de 1998.
Tamanho do DataFrame.
(1332296, 18)
401 de 1998.
Tamanho do DataFrame.
(1336310, 18)
402 de 1998.
Tamanho do DataFrame.
(1340324, 18)
403 de 1998.
Tamanho do DataFrame.
(1344340, 18)
404 de 1998.
Tamanho do DataFrame.
(1348356, 18)
405 de 1998.
Tamanho do DataFrame.
(1352372, 18)
406 de 1998.
Tamanho do DataFrame.
(1356388, 18)
407 de 1998.
Tamanho do DataFrame.
(1356528, 18)
408 de 1998.
Tamanho do DataFrame.
(1356668, 18)
409 de 1998.
Tamanho do DataFrame.
(1360682, 18)
410 de 1998.
Tamanho do DataFrame.
(1364696, 18)
411 de 1998.
Tamanho do DataFrame.
(1368712, 18)
412 de 1998.
Tamanho do DataFrame.
(1372728, 18)
413 de 1998.
Tamanho do DataFrame.
(1376744, 18)
414 de 1998.
Tamanho do DataFrame.
(1380760, 18)
415 de 1998.
Tamanho do DataFrame.
(1380903, 18)
416 de 1998.
Tamanho do DataFrame.
(1381046, 18)
417 de 1998.
Tamanho do DataFrame.
(1385060, 18)
418 de 1998.
Tamanho do DataFrame.
(1389074, 18)
419 de 1998.
Tamanho do DataFrame.
(1393090, 18)
420 de 1998.
Tamanho do DataFrame.
(1397106, 18)
421 de 1998.
Tamanho do DataFrame.
(1401122, 18)
422 de 1998.
Tamanho do DataFrame.
(1405138, 18)
423 de 1998.
Tamanho do DataFrame.
(1405288, 18)
424 de 1998.
Tamanho do DataFrame.
(1405438, 18)
425 de 1998.
Tamanho do DataFrame.
(1409452, 18)
426 de 1998.
Tamanho do DataFrame.
(1413466, 18)
427 de 1998.
Tamanho do DataFrame.
(1417482, 18)
428 de 1998.
Tamanho do DataFrame.
(1421498, 18)
429 de 1998.
Tamanho do DataFrame.
(1425514, 18)
430 de 1998.
Tamanho do DataFrame.
(1429530, 18)
431 de 1998.
Tamanho do DataFrame.
(1429685, 18)
432 de 1998.
Tamanho do DataFrame.
(1429840, 18)
433 de 1998.
Tamanho do DataFrame.
(1430001, 20)
434 de 1998.
Tamanho do DataFrame.
(1430162, 20)
435 de 1998.
Tamanho do DataFrame.
(1434176, 20)
436 de 1998.
Tamanho do DataFrame.
(1438190, 20)
437 de 1998.
Tamanho do DataFrame.
(1442206, 20)
438 de 1998.
Tamanho do DataFrame.
(1446222, 20)
439 de 1998.
Tamanho do DataFrame.
(1450238, 20)
440 de 1998.
Tamanho do DataFrame.
(1454254, 20)
441 de 1998.
Tamanho do DataFrame.
(1454431, 20)
442 de 1998.
Tamanho do DataFrame.
(1454608, 20)
443 de 1998.
Tamanho do DataFrame.
(1458622, 20)
444 de 1998.
Tamanho do DataFrame.
(1462636, 20)
445 de 1998.
Tamanho do DataFrame.
(1466652, 20)
446 de 1998.
Tamanho do DataFrame.
(1470668, 20)
447 de 1998.
Tamanho do DataFrame.
(1474684, 20)
448 de 1998.
Tamanho do DataFrame.
(1478700, 20)
449 de 1998.
Tamanho do DataFrame.
(1478887, 20)
450 de 1998.
Tamanho do DataFrame.
(1479074, 20)
451 de 1998.
Tamanho do DataFrame.
(1483088, 20)
452 de 1998.
Tamanho do DataFrame.
(1487102, 20)
453 de 1998.
Tamanho do DataFrame.
(1491118, 20)
454 de 1998.
Tamanho do DataFrame.
(1495134, 20)
455 de 1998.
Tamanho do DataFrame.
(1499150, 20)
456 de 1998.
Tamanho do DataFrame.
(1503166, 20)
457 de 1998.
Tamanho do DataFrame.
(1503362, 20)
458 de 1998.
Tamanho do DataFrame.
(1503558, 20)
459 de 1998.
Tamanho do DataFrame.
(1507572, 20)
460 de 1998.
Tamanho do DataFrame.
(1511586, 20)
461 de 1998.
Tamanho do DataFrame.
(1515602, 20)
462 de 1998.
Tamanho do DataFrame.
(1519618, 20)
463 de 1998.
Tamanho do DataFrame.
(1523634, 20)
464 de 1998.
Tamanho do DataFrame.
(1527650, 20)
465 de 1998.
Tamanho do DataFrame.
(1527859, 20)
466 de 1998.
Tamanho do DataFrame.
(1528068, 20)
467 de 1998.
Tamanho do DataFrame.
(1532082, 20)
468 de 1998.
Tamanho do DataFrame.
(1536096, 20)
469 de 1998.
Tamanho do DataFrame.
(1540112, 20)
470 de 1998.
Tamanho do DataFrame.
(1544128, 20)
471 de 1998.
Tamanho do DataFrame.
(1548144, 20)
472 de 1998.
Tamanho do DataFrame.
(1552160, 20)
473 de 1998.
Tamanho do DataFrame.
(1552395, 20)
474 de 1998.
Tamanho do DataFrame.
(1552630, 20)
475 de 1998.
Tamanho do DataFrame.
(1556644, 20)
476 de 1998.
Tamanho do DataFrame.
(1560658, 20)
477 de 1998.
Tamanho do DataFrame.
(1564674, 20)
478 de 1998.
Tamanho do DataFrame.
(1568690, 20)
479 de 1998.
Tamanho do DataFrame.
(1572706, 20)
480 de 1998.
Tamanho do DataFrame.
(1576722, 20)
481 de 1998.
Tamanho do DataFrame.
(1576983, 20)
482 de 1998.
Tamanho do DataFrame.
(1577244, 20)
483 de 1998.
Tamanho do DataFrame.
(1581258, 20)
484 de 1998.
Tamanho do DataFrame.
(1585272, 20)
485 de 1998.
Tamanho do DataFrame.
(1589288, 20)
486 de 1998.
Tamanho do DataFrame.
(1593304, 20)
487 de 1998.
Tamanho do DataFrame.
(1597320, 20)
488 de 1998.
Tamanho do DataFrame.
(1601336, 20)
489 de 1998.
Tamanho do DataFrame.
(1601627, 20)
490 de 1998.
Tamanho do DataFrame.
(1601918, 20)
491 de 1998.
Tamanho do DataFrame.
(1605932, 20)
492 de 1998.
Tamanho do DataFrame.
(1609946, 20)
493 de 1998.
Tamanho do DataFrame.
(1613962, 20)
494 de 1998.
Tamanho do DataFrame.
(1617978, 20)
495 de 1998.
Tamanho do DataFrame.
(1621994, 20)
496 de 1998.
Tamanho do DataFrame.
(1626010, 20)
497 de 1998.
Tamanho do DataFrame.
(1626312, 20)
498 de 1998.
Tamanho do DataFrame.
(1626614, 20)
499 de 1998.
Tamanho do DataFrame.
(1630628, 20)
500 de 1998.
Tamanho do DataFrame.
(1634642, 20)
501 de 1998.
Tamanho do DataFrame.
(1638658, 20)
502 de 1998.
Tamanho do DataFrame.
(1642674, 20)
503 de 1998.
Tamanho do DataFrame.
(1646690, 20)
504 de 1998.
Tamanho do DataFrame.
(1650706, 20)
505 de 1998.
Tamanho do DataFrame.
(1650948, 20)
506 de 1998.
Tamanho do DataFrame.
(1651190, 20)
507 de 1998.
Tamanho do DataFrame.
(1655204, 20)
508 de 1998.
Tamanho do DataFrame.
(1659218, 20)
509 de 1998.
Tamanho do DataFrame.
(1663234, 20)
510 de 1998.
Tamanho do DataFrame.
(1667250, 20)
511 de 1998.
Tamanho do DataFrame.
(1667502, 20)
512 de 1998.
Tamanho do DataFrame.
(1667754, 20)
513 de 1998.
Tamanho do DataFrame.
(1671768, 20)
514 de 1998.
Tamanho do DataFrame.
(1675782, 20)
515 de 1998.
Tamanho do DataFrame.
(1679798, 20)
516 de 1998.
Tamanho do DataFrame.
(1683814, 20)
517 de 1998.
Tamanho do DataFrame.
(1684068, 20)
518 de 1998.
Tamanho do DataFrame.
(1684322, 20)
519 de 1998.
Tamanho do DataFrame.
(1688336, 20)
520 de 1998.
Tamanho do DataFrame.
(1692350, 20)
521 de 1998.
Tamanho do DataFrame.
(1696366, 20)
522 de 1998.
Tamanho do DataFrame.
(1700382, 20)
523 de 1998.
Tamanho do DataFrame.
(1700648, 20)
524 de 1998.
Tamanho do DataFrame.
(1700914, 20)
525 de 1998.
Tamanho do DataFrame.
(1704928, 20)
526 de 1998.
Tamanho do DataFrame.
(1708942, 20)
527 de 1998.
Tamanho do DataFrame.
(1712958, 20)
528 de 1998.
Tamanho do DataFrame.
(1716974, 20)
529 de 1998.
Tamanho do DataFrame.
(1717259, 20)
530 de 1998.
Tamanho do DataFrame.
(1717544, 20)
531 de 1998.
Tamanho do DataFrame.
(1721558, 20)
532 de 1998.
Tamanho do DataFrame.
(1725572, 20)
533 de 1998.
Tamanho do DataFrame.
(1729588, 20)
534 de 1998.
Tamanho do DataFrame.
(1733604, 20)
535 de 1998.
Tamanho do DataFrame.
(1733898, 20)
536 de 1998.
Tamanho do DataFrame.
(1734192, 20)
537 de 1998.
Tamanho do DataFrame.
(1738206, 20)
538 de 1998.
Tamanho do DataFrame.
(1742220, 20)
539 de 1998.
Tamanho do DataFrame.
(1746236, 20)
540 de 1998.
Tamanho do DataFrame.
(1750252, 20)
541 de 1998.
Tamanho do DataFrame.
(1750560, 20)
542 de 1998.
Tamanho do DataFrame.
(1750868, 20)
543 de 1998.
Tamanho do DataFrame.
(1754882, 20)
544 de 1998.
Tamanho do DataFrame.
(1758896, 20)
545 de 1998.
Tamanho do DataFrame.
(1762912, 20)
546 de 1998.
Tamanho do DataFrame.
(1766928, 20)
547 de 1998.
Tamanho do DataFrame.
(1767240, 20)
548 de 1998.
Tamanho do DataFrame.
(1767552, 20)
549 de 1998.
Tamanho do DataFrame.
(1771566, 20)
550 de 1998.
Tamanho do DataFrame.
(1775580, 20)
551 de 1998.
Tamanho do DataFrame.
(1779596, 20)
552 de 1998.
Tamanho do DataFrame.
(1783612, 20)
553 de 1998.
Tamanho do DataFrame.
(1783932, 20)
554 de 1998.
Tamanho do DataFrame.
(1784252, 20)
555 de 1998.
Tamanho do DataFrame.
(1788266, 20)
556 de 1998.
Tamanho do DataFrame.
(1792280, 20)
557 de 1998.
Tamanho do DataFrame.
(1796296, 20)
558 de 1998.
Tamanho do DataFrame.
(1800312, 20)
559 de 1998.
Tamanho do DataFrame.
(1800640, 20)
560 de 1998.
Tamanho do DataFrame.
(1800968, 20)
561 de 1998.
Tamanho do DataFrame.
(1804982, 20)
562 de 1998.
Tamanho do DataFrame.
(1808996, 20)
563 de 1998.
Tamanho do DataFrame.
(1813012, 20)
564 de 1998.
Tamanho do DataFrame.
(1817028, 20)
565 de 1998.
Tamanho do DataFrame.
(1817363, 20)
566 de 1998.
Tamanho do DataFrame.
(1817698, 20)
567 de 1998.
Tamanho do DataFrame.
(1821712, 20)
568 de 1998.
Tamanho do DataFrame.
(1825726, 20)
569 de 1998.
Tamanho do DataFrame.
(1829742, 20)
570 de 1998.
Tamanho do DataFrame.
(1833758, 20)
571 de 1998.
Tamanho do DataFrame.
(1834098, 20)
572 de 1998.
Tamanho do DataFrame.
(1834438, 20)
573 de 1998.
Tamanho do DataFrame.
(1838452, 20)
574 de 1998.
Tamanho do DataFrame.
(1842466, 20)
575 de 1998.
Tamanho do DataFrame.
(1846482, 20)
576 de 1998.
Tamanho do DataFrame.
(1850498, 20)
577 de 1998.
Tamanho do DataFrame.
(1853954, 20)
578 de 1998.
Tamanho do DataFrame.
(1857410, 20)
579 de 1998.
Tamanho do DataFrame.
(1861424, 20)
580 de 1998.
Tamanho do DataFrame.
(1865438, 20)
581 de 1998.
Tamanho do DataFrame.
(1869454, 20)
582 de 1998.
Tamanho do DataFrame.
(1873470, 20)
583 de 1998.
Tamanho do DataFrame.
(1876922, 20)
584 de 1998.
Tamanho do DataFrame.
(1880374, 20)
585 de 1998.
Tamanho do DataFrame.
(1884388, 20)
586 de 1998.
Tamanho do DataFrame.
(1888402, 20)
587 de 1998.
Tamanho do DataFrame.
(1892418, 20)
588 de 1998.
Tamanho do DataFrame.
(1896434, 20)
589 de 1998.
Tamanho do DataFrame.
(1899889, 20)
590 de 1998.
Tamanho do DataFrame.
(1903344, 20)
591 de 1998.
Tamanho do DataFrame.
(1907358, 20)
592 de 1998.
Tamanho do DataFrame.
(1911372, 20)
593 de 1998.
Tamanho do DataFrame.
(1915388, 20)
594 de 1998.
Tamanho do DataFrame.
(1919404, 20)
595 de 1998.
Tamanho do DataFrame.
(1922863, 20)
596 de 1998.
Tamanho do DataFrame.
(1926322, 20)
597 de 1998.
Tamanho do DataFrame.
(1930336, 20)
598 de 1998.
Tamanho do DataFrame.
(1934350, 20)
599 de 1998.
Tamanho do DataFrame.
(1938366, 20)
600 de 1998.
Tamanho do DataFrame.
(1942382, 20)
601 de 1998.
Tamanho do DataFrame.
(1945842, 20)
602 de 1998.
Tamanho do DataFrame.
(1949302, 20)
603 de 1998.
Tamanho do DataFrame.
(1953316, 20)
604 de 1998.
Tamanho do DataFrame.
(1957330, 20)
605 de 1998.
Tamanho do DataFrame.
(1961346, 20)
606 de 1998.
Tamanho do DataFrame.
(1965362, 20)
607 de 1998.
Tamanho do DataFrame.
(1968830, 20)
608 de 1998.
Tamanho do DataFrame.
(1972298, 20)
609 de 1998.
Tamanho do DataFrame.
(1976312, 20)
610 de 1998.
Tamanho do DataFrame.
(1980326, 20)
611 de 1998.
Tamanho do DataFrame.
(1984342, 20)
612 de 1998.
Tamanho do DataFrame.
(1988358, 20)
613 de 1998.
Tamanho do DataFrame.
(1991827, 20)
614 de 1998.
Tamanho do DataFrame.
(1995296, 20)
615 de 1998.
Tamanho do DataFrame.
(1999310, 20)
616 de 1998.
Tamanho do DataFrame.
(2003324, 20)
617 de 1998.
Tamanho do DataFrame.
(2007340, 20)
618 de 1998.
Tamanho do DataFrame.
(2011356, 20)
619 de 1998.
Tamanho do DataFrame.
(2014829, 20)
620 de 1998.
Tamanho do DataFrame.
(2018302, 20)
621 de 1998.
Tamanho do DataFrame.
(2022316, 20)
622 de 1998.
Tamanho do DataFrame.
(2026330, 20)
623 de 1998.
Tamanho do DataFrame.
(2030346, 20)
624 de 1998.
Tamanho do DataFrame.
(2034362, 20)
625 de 1998.
Tamanho do DataFrame.
(2037840, 20)
626 de 1998.
Tamanho do DataFrame.
(2041318, 20)
627 de 1998.
Tamanho do DataFrame.
(2045332, 20)
628 de 1998.
Tamanho do DataFrame.
(2049346, 20)
629 de 1998.
Tamanho do DataFrame.
(2053362, 20)
630 de 1998.
Tamanho do DataFrame.
(2057378, 20)
631 de 1998.
Tamanho do DataFrame.
(2059851, 20)
632 de 1998.
Tamanho do DataFrame.
(2062324, 20)
633 de 1998.
Tamanho do DataFrame.
(2066338, 20)
634 de 1998.
Tamanho do DataFrame.
(2070352, 20)
635 de 1998.
Tamanho do DataFrame.
(2074368, 20)
636 de 1998.
Tamanho do DataFrame.
(2078384, 20)
637 de 1998.
Tamanho do DataFrame.
(2080906, 20)
638 de 1998.
Tamanho do DataFrame.
(2083428, 20)
639 de 1998.
Tamanho do DataFrame.
(2087442, 20)
640 de 1998.
Tamanho do DataFrame.
(2091456, 20)
641 de 1998.
Tamanho do DataFrame.
(2095472, 20)
642 de 1998.
Tamanho do DataFrame.
(2099488, 20)
643 de 1998.
Tamanho do DataFrame.
(2102096, 20)
644 de 1998.
Tamanho do DataFrame.
(2104704, 20)
645 de 1998.
Tamanho do DataFrame.
(2108718, 20)
646 de 1998.
Tamanho do DataFrame.
(2112732, 20)
647 de 1998.
Tamanho do DataFrame.
(2116748, 20)
648 de 1998.
Tamanho do DataFrame.
(2120764, 20)
649 de 1998.
Tamanho do DataFrame.
(2123427, 20)
650 de 1998.
Tamanho do DataFrame.
(2126090, 20)
651 de 1998.
Tamanho do DataFrame.
(2130104, 20)
652 de 1998.
Tamanho do DataFrame.
(2134118, 20)
653 de 1998.
Tamanho do DataFrame.
(2138134, 20)
654 de 1998.
Tamanho do DataFrame.
(2142150, 20)
655 de 1998.
Tamanho do DataFrame.
(2144867, 20)
656 de 1998.
Tamanho do DataFrame.
(2147584, 20)
657 de 1998.
Tamanho do DataFrame.
(2151598, 20)
658 de 1998.
Tamanho do DataFrame.
(2155612, 20)
659 de 1998.
Tamanho do DataFrame.
(2159628, 20)
660 de 1998.
Tamanho do DataFrame.
(2163644, 20)
661 de 1998.
Tamanho do DataFrame.
(2166445, 20)
662 de 1998.
Tamanho do DataFrame.
(2169246, 20)
663 de 1998.
Tamanho do DataFrame.
(2173260, 20)
664 de 1998.
Tamanho do DataFrame.
(2177274, 20)
665 de 1998.
Tamanho do DataFrame.
(2181290, 20)
666 de 1998.
Tamanho do DataFrame.
(2185306, 20)
667 de 1998.
Tamanho do DataFrame.
(2188152, 20)
668 de 1998.
Tamanho do DataFrame.
(2190998, 20)
669 de 1998.
Tamanho do DataFrame.
(2195012, 20)
670 de 1998.
Tamanho do DataFrame.
(2199026, 20)
671 de 1998.
Tamanho do DataFrame.
(2203042, 20)
672 de 1998.
Tamanho do DataFrame.
(2207058, 20)
673 de 1998.
Tamanho do DataFrame.
(2209952, 20)
674 de 1998.
Tamanho do DataFrame.
(2212846, 20)
675 de 1998.
Tamanho do DataFrame.
(2216860, 20)
676 de 1998.
Tamanho do DataFrame.
(2220874, 20)
677 de 1998.
Tamanho do DataFrame.
(2224890, 20)
678 de 1998.
Tamanho do DataFrame.
(2228906, 20)
679 de 1998.
Tamanho do DataFrame.
(2231826, 20)
680 de 1998.
Tamanho do DataFrame.
(2234746, 20)
681 de 1998.
Tamanho do DataFrame.
(2238760, 20)
682 de 1998.
Tamanho do DataFrame.
(2242774, 20)
683 de 1998.
Tamanho do DataFrame.
(2246790, 20)
684 de 1998.
Tamanho do DataFrame.
(2250806, 20)
685 de 1998.
Tamanho do DataFrame.
(2253754, 20)
686 de 1998.
Tamanho do DataFrame.
(2256702, 20)
687 de 1998.
Tamanho do DataFrame.
(2260716, 20)
688 de 1998.
Tamanho do DataFrame.
(2264730, 20)
689 de 1998.
Tamanho do DataFrame.
(2268746, 20)
690 de 1998.
Tamanho do DataFrame.
(2272762, 20)
691 de 1998.
Tamanho do DataFrame.
(2275741, 20)
692 de 1998.
Tamanho do DataFrame.
(2278720, 20)
693 de 1998.
Tamanho do DataFrame.
(2282734, 20)
694 de 1998.
Tamanho do DataFrame.
(2286748, 20)
695 de 1998.
Tamanho do DataFrame.
(2290764, 20)
696 de 1998.
Tamanho do DataFrame.
(2294780, 20)
697 de 1998.
Tamanho do DataFrame.
(2297783, 20)
698 de 1998.
Tamanho do DataFrame.
(2300786, 20)
699 de 1998.
Tamanho do DataFrame.
(2304800, 20)
700 de 1998.
Tamanho do DataFrame.
(2308814, 20)
701 de 1998.
Tamanho do DataFrame.
(2312830, 20)
702 de 1998.
Tamanho do DataFrame.
(2316846, 20)
703 de 1998.
Tamanho do DataFrame.
(2319872, 20)
704 de 1998.
Tamanho do DataFrame.
(2322898, 20)
705 de 1998.
Tamanho do DataFrame.
(2326912, 20)
706 de 1998.
Tamanho do DataFrame.
(2330926, 20)
707 de 1998.
Tamanho do DataFrame.
(2334942, 20)
708 de 1998.
Tamanho do DataFrame.
(2338958, 20)
709 de 1998.
Tamanho do DataFrame.
(2341997, 20)
710 de 1998.
Tamanho do DataFrame.
(2345036, 20)
711 de 1998.
Tamanho do DataFrame.
(2349050, 20)
712 de 1998.
Tamanho do DataFrame.
(2353064, 20)
713 de 1998.
Tamanho do DataFrame.
(2357080, 20)
714 de 1998.
Tamanho do DataFrame.
(2361096, 20)
715 de 1998.
Tamanho do DataFrame.
(2364147, 20)
716 de 1998.
Tamanho do DataFrame.
(2367198, 20)
717 de 1998.
Tamanho do DataFrame.
(2371212, 20)
718 de 1998.
Tamanho do DataFrame.
(2375226, 20)
719 de 1998.
Tamanho do DataFrame.
(2379242, 20)
720 de 1998.
Tamanho do DataFrame.
(2383258, 20)
721 de 1998.
Tamanho do DataFrame.
(2386322, 20)
722 de 1998.
Tamanho do DataFrame.
(2389386, 20)
723 de 1998.
Tamanho do DataFrame.
(2393400, 20)
724 de 1998.
Tamanho do DataFrame.
(2397414, 20)
725 de 1998.
Tamanho do DataFrame.
(2401430, 20)
726 de 1998.
Tamanho do DataFrame.
(2405446, 20)
727 de 1998.
Tamanho do DataFrame.
(2408525, 20)
728 de 1998.
Tamanho do DataFrame.
(2411604, 20)
729 de 1998.
Tamanho do DataFrame.
(2415618, 20)
730 de 1998.
Tamanho do DataFrame.
(2419632, 20)
731 de 1998.
Tamanho do DataFrame.
(2423648, 20)
732 de 1998.
Tamanho do DataFrame.
(2427664, 20)
733 de 1998.
Tamanho do DataFrame.
(2430747, 20)
734 de 1998.
Tamanho do DataFrame.
(2433830, 20)
735 de 1998.
Tamanho do DataFrame.
(2437844, 20)
736 de 1998.
Tamanho do DataFrame.
(2441858, 20)
737 de 1998.
Tamanho do DataFrame.
(2445874, 20)
738 de 1998.
Tamanho do DataFrame.
(2449890, 20)

##4 - Wrangling dos Dados COVID-19 (Brasil)

### 4.1 - Tratamento

Este código realiza o tratamento dos dados extraídos dos arquivos CSV.  
Filtra os dados do Brasil, remove colunas irrelevantes,  
formata a data, ordena por ordem crescente e  
exclui registros com valores nulos antes de salvar em CSV, mas vamos por partes.

***1*** - Filtrando os dados para focar exclusivamente no Brasil.

In [ ]:
# Filtra os dados apenas do Brasil
df_br = df[df['Country_Region'] == 'Brazil']

# Exibe informações do DataFrame
print(df_br.info())

<class 'pandas.core.frame.DataFrame'>
Index: 47676 entries, 41 to 7414890
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 0 non-null      float64
 1   Admin2               0 non-null      object
 2   Province_State       47558 non-null  object
 3   Country_Region       47676 non-null  object
 4   Last_Update          47676 non-null  object
 5   Lat                  47638 non-null  float64
 6   Long_                47638 non-null  float64
 7   Confirmed            47676 non-null  float64
 8   Deaths               47676 non-null  float64
 9   Recovered            21432 non-null  float64
 10  Active               21432 non-null  float64
 11  Combined_Key         47676 non-null  object
 12  Incident_Rate        38178 non-null  float64
 13  Case_Fatality_Ratio  38178 non-null  float64
 14  Date                 47676 non-null  datetime64[ns]
 15  Province/State       0 non-null      object
 16  Country/Region       0 non-null      object
 17  Last Update          0 non-null      object
 18  Latitude             0 non-null      float64
 19  Longitude            0 non-null      float64
 20  Incidence_Rate       8856 non-null   float64
 21  Case-Fatality_Ratio  8856 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(8)
memory usage: 8.4+ MB
None

***2*** - Como podemos observar acima, há muitas colunas sem dados ou com um volume muito baixo de informações. Portanto, vamos remover as colunas que não serão utilizadas devido à ausência de dados ou à irrelevância das informações que contêm.

In [ ]:
# Remove colunas desnecessárias
df_br.drop(columns=['FIPS', 'Admin2', 'Province/State', 'Last_Update', 'Country/Region', 'Last Update', 'Latitude', 'Longitude', 'Combined_Key', 'Incident_Rate','Case_Fatality_Ratio','Incidence_Rate','Case-Fatality_Ratio', 'Recovered', 'Active'], inplace=True)

# Shape do DataFrame
print(df_br.shape)

(47676, 7)

***3*** -  Como podemos observar na Parte ***1***, a coluna **Date** já está no formato **datetime**. No entanto, por precaução, vamos convertê-la novamente para **datetime**, mesmo que isso seja redundante.

In [ ]:
# Converte a coluna 'Date' para formato datetime
df_br['Date'] = pd.to_datetime(df_br['Date'], format='%Y-%m-%d', errors='coerce')

# Exibe informações do DataFrame
print(df_br['Date'].info())

<class 'pandas.core.series.Series'>
Index: 47676 entries, 41 to 7414890
Series name: Date
Non-Null Count  Dtype
--------------  -----
47676 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 744.9 KB
None

***4*** - Vamos ordenar as colunas e visualizar o resultado das alterações que fizemos até o momento.

In [ ]:
# Reorganiza as colunas na ordem desejada
df_br = df_br[['Date',  'Country_Region', 'Province_State', 'Lat', 'Long_',
       'Confirmed', 'Deaths']]

# Exibe informações do DataFrame
print(df_br.info())
print(df_br.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 47676 entries, 41 to 7414890
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            47676 non-null  datetime64[ns]
 1   Country_Region  47676 non-null  object
 2   Province_State  47558 non-null  object
 3   Lat             47638 non-null  float64
 4   Long_           47638 non-null  float64
 5   Confirmed       47676 non-null  float64
 6   Deaths          47676 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 2.9+ MB
None
(47676, 7)

***5*** - Podemos observar na seção acima que as colunas **Province_State**, **Lat** e **Long_** possuem alguns valores ausentes. No entanto, como a quantidade de dados faltantes é pequena, optaremos por remover essas colunas.

In [ ]:
# Remove registros com valores nulos em colunas essenciais
df_br.dropna(subset=['Province_State', 'Lat', 'Long_'], inplace=True)

# Exibe informações do DataFrame
print(df_br.info())
print(df_br.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 47520 entries, 41 to 7414890
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            47520 non-null  datetime64[ns]
 1   Country_Region  47520 non-null  object
 2   Province_State  47520 non-null  object
 3   Lat             47520 non-null  float64
 4   Long_           47520 non-null  float64
 5   Confirmed       47520 non-null  float64
 6   Deaths          47520 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 2.9+ MB
None
(47520, 7)

***6*** - Para melhorar a visualização e padronizar o conjunto de dados, vamos renomear as colunas e garantir que todas estejam em minúsculas.

In [ ]:
# Renomeando as colunas
df_br = df_br.rename(
  columns={
    'Province_State': 'state',
    'Country_Region': 'country',
    'Lat': 'latitude',
    'Long_': 'longitude'
  }
)

# Garantindo que os nomes das colunas estejam em minúsculas.
df_br.columns = df_br.columns.str.lower()

print(df_br.columns)

Index(['date', 'country', 'state', 'latitude', 'longitude', 'confirmed',
       'deaths'],
      dtype='object')

***7*** -  Vamos também corrigir os nomes dos estados, adicionando a acentuação correta.

In [ ]:
# Dicionario com os nomes dos estados
states_map = {
    'Amapa': 'Amapá',
    'Ceara': 'Ceará',
    'Espirito Santo': 'Espírito Santo',
    'Goias': 'Goiás',
    'Para': 'Pará',
    'Paraiba': 'Paraíba',
    'Parana': 'Paraná',
    'Piaui': 'Piauí',
    'Rondonia': 'Rondônia',
    'Sao Paulo': 'São Paulo'
}

# Corrigindo os nomes dos estados
df_br['state'] = df_br['state'].apply(lambda state: states_map.get(state) if state in states_map.keys() else state)

print(df_br['state'].unique())

['Acre' 'Alagoas' 'Amapá' 'Amazonas' 'Bahia' 'Ceará' 'Distrito Federal'
 'Espírito Santo' 'Goiás' 'Maranhao' 'Mato Grosso' 'Mato Grosso do Sul'
 'Minas Gerais' 'Pará' 'Paraíba' 'Paraná' 'Pernambuco' 'Piauí'
 'Rio Grande do Norte' 'Rio Grande do Sul' 'Rio de Janeiro' 'Rondônia'
 'Roraima' 'Santa Catarina' 'São Paulo' 'Sergipe' 'Tocantins']

***8*** - Criando chaves temporais.

In [ ]:
# Criando coluna referente ao mês
df_br['month'] = df_br['date'].apply(lambda date: date.strftime('%Y-%m'))

# Criando coluna referente ao ano
df_br['year']  = df_br['date'].apply(lambda date: date.strftime('%Y'))

***9*** - Vamos realizar mais um Web Scraping, desta vez na Wikipedia, para obter o número de habitantes em cada estado.

In [ ]:
# Iniciar o driver usando as opções já configuradas no começo do notebook
driver = webdriver.Chrome(options=options)

# URL da pagina
url_pop = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o'

driver.get(url_pop)

In [ ]:
# Estados brasileiros
states = ['Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará', 'Distrito Federal',
 'Espírito Santo', 'Goiás', 'Maranhao', 'Mato Grosso', 'Mato Grosso do Sul',
 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí',
 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rio de Janeiro', 'Rondônia',
 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe', 'Tocantins']

# Buscando a quantidade da população de cada estado e criando um dicionário para armazenar os dados.
pop_states = dict()
for state in states:
  row = driver.find_elements(By.XPATH, f'//tr[contains(., "{state}")]')

  for item in row:
      pop_state = item.find_elements(By.TAG_NAME, "td")

      pop_states[pop_state[0].text.strip()] = pop_state[1].text.replace(' ', '')

# Adicionando a coluna 'pop' com a quantidade de população em cada estado
df_br['pop'] = df_br['state'].apply(lambda state: pop_states.get(state, 0))

# Converter para numero inteiro as colunas 'pop' e 'confirmed'
df_br['pop'] = df_br['pop'].astype(int)
df_br['confirmed'] = df_br['confirmed'].astype(int)

driver.quit()

print(pop_states)
print(df_br[['state', 'pop']])

{'Acre': '880631', 'Alagoas': '3220104', 'Amapá': '802837', 'Amazonas': '4281209', 'Bahia': '14850513', 'Ceará': '9233656', 'Distrito Federal': '2982818', 'Espírito Santo': '4102129', 'Goiás': '7350483', 'Mato Grosso': '3836399', 'Mato Grosso do Sul': '2901895', 'Minas Gerais': '21322691', 'Pará': '8664306', 'Paraíba': '4145040', 'Paraná': '11824665', 'Pernambuco': '9539029', 'Piauí': '3375646', 'Rio Grande do Norte': '3446071', 'Rio Grande do Sul': '11229915', 'Rio de Janeiro': '17219679', 'Rondônia': '1746227', 'Roraima': '716793', 'Santa Catarina': '8058441', 'São Paulo': '45973194', 'Sergipe': '2291077', 'Tocantins': '1577342'}
                  state       pop
41                 Acre    880631
42              Alagoas   3220104
43                Amapá    802837
44             Amazonas   4281209
45                Bahia  14850513
...                 ...       ...
7414886         Roraima    716793
7414887  Santa Catarina   8058441
7414888       São Paulo  45973194
7414889         Sergipe   2291077
7414890       Tocantins   1577342

[47520 rows x 2 columns]

***10*** - Recriando a coluna 'incident_rate' (taxa incidencia)

In [ ]:
incident_rate = (df_br['confirmed'] / df_br['pop']) * 100000
df_br['incident_rate'] = incident_rate.round(2)

print(df_br[['pop', 'confirmed', 'incident_rate']])

              pop  confirmed  incident_rate
41         880631      41689        4733.99
42        3220104     105091        3263.59
43         802837      68361        8514.93
44        4281209     201574        4708.34
45       14850513     494684        3331.09
...           ...        ...            ...
7414886    716793     175957       24547.81
7414887   8058441    1888915       23440.20
7414888  45973194    6160930       13401.14
7414889   2291077     342945       14968.72
7414890   1577342     344892       21865.39

[47520 rows x 3 columns]

***11*** - Nesta etapa, calculamos variações diárias, médias móveis e classificamos tendências (alta, queda ou estável) para casos e óbitos por estado. Os dados são processados individualmente e combinados em um único DataFrame final.

In [ ]:
cases_ = None
cases_is_empty = True

def get_trend(rate: float) -> str:

  if np.isnan(rate):
    return np.nan

  if rate < 0.75:    # Se a divisão for menor que 0.75 (correção 0.85)
    status = 'downward'
  elif rate > 1.15:
    status = 'upward'
  else:
    status = 'stable'

  return status


for state in df_br['state'].drop_duplicates():

  cases_per_state = df_br.query(f'state == "{state}"').reset_index(drop=True)
  cases_per_state = cases_per_state.sort_values(by=['date'])

  cases_per_state['confirmed_1d'] = cases_per_state['confirmed'].diff(periods=1)
  cases_per_state['confirmed_moving_avg_7d'] = np.ceil(cases_per_state['confirmed_1d'].rolling(window=7).mean())
  cases_per_state['confirmed_moving_avg_7d_rate_14d'] = cases_per_state['confirmed_moving_avg_7d']/cases_per_state['confirmed_moving_avg_7d'].shift(periods=14)
  cases_per_state['confirmed_trend'] = cases_per_state['confirmed_moving_avg_7d_rate_14d'].apply(get_trend)

  cases_per_state['deaths_1d'] = cases_per_state['deaths'].diff(periods=1)
  cases_per_state['deaths_moving_avg_7d'] = np.ceil(cases_per_state['deaths_1d'].rolling(window=7).mean())
  cases_per_state['deaths_moving_avg_7d_rate_14d'] = cases_per_state['deaths_moving_avg_7d']/cases_per_state['deaths_moving_avg_7d'].shift(periods=14)
  cases_per_state['deaths_trend'] = cases_per_state['deaths_moving_avg_7d_rate_14d'].apply(get_trend)

  if cases_is_empty:
    cases_ = cases_per_state
    cases_is_empty = False
  else:
    cases_ = pd.concat([cases_, cases_per_state],axis=0, ignore_index=True)

df_br = cases_
cases_ = None

***12*** - Convertendo as colunas relevantes para o tipo Int64, garantindo consistência nos dados e facilitando análises futuras.

In [ ]:
df_br['pop'] = df_br['pop'].astype('Int64')
df_br['confirmed_1d'] = df_br['confirmed_1d'].astype('Int64')
df_br['confirmed_moving_avg_7d'] = df_br['confirmed_moving_avg_7d'].astype('Int64')
df_br['deaths_1d'] = df_br['deaths_1d'].astype('Int64')
df_br['deaths_moving_avg_7d'] = df_br['deaths_moving_avg_7d'].astype('Int64')

***13*** - Ordenando as colunas para melhor visualização.

In [ ]:
df_br = df_br[['date', 'country', 'state', 'pop', 'incident_rate',
               'confirmed', 'confirmed_1d', 'confirmed_moving_avg_7d', 'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend',
               'deaths', 'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d', 'deaths_trend',
               'month', 'year', 'latitude', 'longitude']]

***14*** - Visão geral do Dataframe resultante

In [ ]:
print('Nomes e ordem das colunas:')
print(df_br.columns,'\n\n')
print('Tamanho do Dataframe:')
print(df_br.shape,'\n\n')
print('Informações do Dataframe;')
print(df_br.info(),'\n\n')
print('Visualizar o Dataframe:')
print(df_br.head(25))

Nomes e ordem das colunas:
Index(['date', 'country', 'state', 'pop', 'incident_rate', 'confirmed',
       'confirmed_1d', 'confirmed_moving_avg_7d',
       'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend', 'deaths',
       'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d',
       'deaths_trend', 'month', 'year', 'latitude', 'longitude'],
      dtype='object')


Tamanho do Dataframe:
(47520, 19)


Informações do Dataframe;
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47520 entries, 0 to 47519
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              47520 non-null  datetime64[ns]
 1   country                           47520 non-null  object
 2   state                             47520 non-null  object
 3   pop                               47520 non-null  Int64
 4   incident_rate                     47520 non-null  float64
 5   confirmed                         47520 non-null  int64
 6   confirmed_1d                      47493 non-null  Int64
 7   confirmed_moving_avg_7d           47331 non-null  Int64
 8   confirmed_moving_avg_7d_rate_14d  46632 non-null  float64
 9   confirmed_trend                   46632 non-null  object
 10  deaths                            47520 non-null  float64
 11  deaths_1d                         47493 non-null  Int64
 12  deaths_moving_avg_7d              47331 non-null  Int64
 13  deaths_moving_avg_7d_rate_14d     44053 non-null  float64
 14  deaths_trend                      44053 non-null  object
 15  month                             47520 non-null  object
 16  year                              47520 non-null  object
 17  latitude                          47520 non-null  float64
 18  longitude                         47520 non-null  float64
dtypes: Int64(5), datetime64[ns](1), float64(6), int64(1), object(6)
memory usage: 7.1+ MB
None


Visualizar o Dataframe:
         date country state     pop  incident_rate  confirmed  confirmed_1d  \
0  2020-05-20  Brazil  Acre  880631         319.88       2817          <NA>
1  2020-05-20  Brazil  Acre  880631         319.88       2817             0
2  2020-05-21  Brazil  Acre  880631         352.36       3103           286
3  2020-05-21  Brazil  Acre  880631         352.36       3103             0
4  2020-05-22  Brazil  Acre  880631         379.61       3343           240
5  2020-05-22  Brazil  Acre  880631         379.61       3343             0
6  2020-05-23  Brazil  Acre  880631         439.12       3867           524
7  2020-05-23  Brazil  Acre  880631         439.12       3867             0
8  2020-05-24  Brazil  Acre  880631         472.39       4160           293
9  2020-05-24  Brazil  Acre  880631         472.39       4160             0
10 2020-05-25  Brazil  Acre  880631         511.11       4501           341
11 2020-05-25  Brazil  Acre  880631         511.11       4501             0
12 2020-05-26  Brazil  Acre  880631         542.91       4781           280
13 2020-05-26  Brazil  Acre  880631         542.91       4781             0
14 2020-05-27  Brazil  Acre  880631         596.28       5251           470
15 2020-05-27  Brazil  Acre  880631         596.28       5251             0
16 2020-05-28  Brazil  Acre  880631         635.91       5600           349
17 2020-05-28  Brazil  Acre  880631         635.91       5600             0
18 2020-05-29  Brazil  Acre  880631         663.27       5841           241
19 2020-05-29  Brazil  Acre  880631         663.27       5841             0
20 2020-05-30  Brazil  Acre  880631         689.51       6072           231
21 2020-05-30  Brazil  Acre  880631         689.51       6072             0
22 2020-05-31  Brazil  Acre  880631         706.20       6219           147
23 2020-05-31  Brazil  Acre  880631         706.20       6219             0
24 2020-06-01  Brazil  Acre  880631         718.35       6326           107

    confirmed_moving_avg_7d  confirmed_moving_avg_7d_rate_14d confirmed_trend  \
0                      <NA>                               NaN             NaN
1                      <NA>                               NaN             NaN
2                      <NA>                               NaN             NaN
3                      <NA>                               NaN             NaN
4                      <NA>                               NaN             NaN
5                      <NA>                               NaN             NaN
6                      <NA>                               NaN             NaN
7                       150                               NaN             NaN
8                       192                               NaN             NaN
9                       151                               NaN             NaN
10                      200                               NaN             NaN
11                      166                               NaN             NaN
12                      206                               NaN             NaN
13                      131                               NaN             NaN
14                      198                               NaN             NaN
15                      156                               NaN             NaN
16                      206                               NaN             NaN
17                      157                               NaN             NaN
18                      192                               NaN             NaN
19                      152                               NaN             NaN
20                      185                               NaN             NaN
21                      118                          0.786667          stable
22                      139                          0.723958        downward
23                       89                          0.589404        downward
24                      104                          0.520000        downward

    deaths  deaths_1d  deaths_moving_avg_7d  deaths_moving_avg_7d_rate_14d  \
0     76.0       <NA>                  <NA>                            NaN
1     76.0          0                  <NA>                            NaN
2     78.0          2                  <NA>                            NaN
3     78.0          0                  <NA>                            NaN
4     80.0          2                  <NA>                            NaN
5     80.0          0                  <NA>                            NaN
6     87.0          7                  <NA>                            NaN
7     87.0          0                     2                            NaN
8     92.0          5                     3                            NaN
9     92.0          0                     2                            NaN
10    97.0          5                     3                            NaN
11    97.0          0                     3                            NaN
12   105.0          8                     4                            NaN
13   105.0          0                     3                            NaN
14   113.0          8                     4                            NaN
15   113.0          0                     3                            NaN
16   122.0          9                     5                            NaN
17   122.0          0                     4                            NaN
18   135.0         13                     6                            NaN
19   135.0          0                     5                            NaN
20   142.0          7                     6                            NaN
21   142.0          0                     5                       2.500000
22   148.0          6                     5                       1.666667
23   148.0          0                     4                       2.000000
24   161.0         13                     6                       2.000000

   deaths_trend    month  year  latitude  longitude
0           NaN  2020-05  2020   -9.0238    -70.812
1           NaN  2020-05  2020   -9.0238    -70.812
2           NaN  2020-05  2020   -9.0238    -70.812
3           NaN  2020-05  2020   -9.0238    -70.812
4           NaN  2020-05  2020   -9.0238    -70.812
5           NaN  2020-05  2020   -9.0238    -70.812
6           NaN  2020-05  2020   -9.0238    -70.812
7           NaN  2020-05  2020   -9.0238    -70.812
8           NaN  2020-05  2020   -9.0238    -70.812
9           NaN  2020-05  2020   -9.0238    -70.812
10          NaN  2020-05  2020   -9.0238    -70.812
11          NaN  2020-05  2020   -9.0238    -70.812
12          NaN  2020-05  2020   -9.0238    -70.812
13          NaN  2020-05  2020   -9.0238    -70.812
14          NaN  2020-05  2020   -9.0238    -70.812
15          NaN  2020-05  2020   -9.0238    -70.812
16          NaN  2020-05  2020   -9.0238    -70.812
17          NaN  2020-05  2020   -9.0238    -70.812
18          NaN  2020-05  2020   -9.0238    -70.812
19          NaN  2020-05  2020   -9.0238    -70.812
20          NaN  2020-05  2020   -9.0238    -70.812
21       upward  2020-05  2020   -9.0238    -70.812
22       upward  2020-05  2020   -9.0238    -70.812
23       upward  2020-05  2020   -9.0238    -70.812
24       upward  2020-06  2020   -9.0238    -70.812

### 4.2 - Carregamento

***1*** -  Vamos  salvar o Dataframe tratado em um arquivo CSV.

In [ ]:
# Salvar o DataFrame resultante em um arquivo CSV localmente
df_br.to_csv('./covid19_br.csv', index=False)

##5 - Wrangling do Dados da Vacinação do COVID-19 (Brasil)

### 5.1 - Extração

***1*** - Carregando o arquivo CSV diretamente do repositório do GitHub / Our World in Data

In [ ]:
# Carregando o DataFrame e convertendo a coluna de datas para o formato datetime.
df_vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',', parse_dates=[3], infer_datetime_format=True)

***2*** - Filtrando os dados para focar exclusivamente no Brasil e selecionando apenas as colunas relevantes para a análise.

In [ ]:
df_vaccines = df_vaccines.query('location == "Brazil"')
df_vaccines = df_vaccines[['location', 'population', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'date']]

print(df_vaccines.head())

      location  population  total_vaccinations  people_vaccinated  \
50234   Brazil   215313504                 NaN                NaN
50235   Brazil   215313504                 NaN                NaN
50236   Brazil   215313504                 NaN                NaN
50237   Brazil   215313504                 NaN                NaN
50238   Brazil   215313504                 NaN                NaN

       people_fully_vaccinated  total_boosters       date
50234                      NaN             NaN 2020-01-05
50235                      NaN             NaN 2020-01-06
50236                      NaN             NaN 2020-01-07
50237                      NaN             NaN 2020-01-08
50238                      NaN             NaN 2020-01-09

### 5.2 - Tratamento

***1*** - Preenchendo os valores nulos utilizando a informação da linha anterior.

In [ ]:
df_vaccines = df_vaccines.fillna(method='ffill')

print(df_vaccines.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1674 entries, 50234 to 51907
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   location                 1674 non-null   object
 1   population               1674 non-null   int64
 2   total_vaccinations       1296 non-null   float64
 3   people_vaccinated        1296 non-null   float64
 4   people_fully_vaccinated  1277 non-null   float64
 5   total_boosters           1068 non-null   float64
 6   date                     1674 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 104.6+ KB
None

***2*** - Vamos ajustar o início do nosso DataFrame para que os dados da progressão da COVID-19 e os dados de vacinação comecem no mesmo dia, já que o df_br só contém informações após o início da vacinação. Além disso, para analisar a evolução da vacinação, ajustaremos o final do df_vaccines para um ano após o término do df_br.

In [ ]:
print('Inicio')
print(f'Contagio inicio: {df_br["date"].iloc[0]}')
print(f'Vacina inicio:   {df_vaccines["date"].iloc[0]}')
print('')
print('Fim')
print(f'Contagio fim:    {df_br["date"].iloc[-1]}')
print(f'Vacina fim:      {df_vaccines["date"].iloc[-1]}')

Inicio
Contagio inicio: 2020-05-20 00:00:00
Vacina inicio:   2020-01-05 00:00:00

Fim
Contagio fim:    2023-03-09 00:00:00
Vacina fim:      2024-08-04 00:00:00

In [ ]:
df_vaccines = df_vaccines[(df_vaccines['date'] >= '2020-05-20') & (df_vaccines['date'] <= '2024-03-09')].reset_index(drop=True)
print(df_vaccines['date'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 1390 entries, 0 to 1389
Series name: date
Non-Null Count  Dtype
--------------  -----
1390 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 11.0 KB
None

In [ ]:
print('Inicio')
print(f'Vacina inicio:   {df_vaccines["date"].iloc[0]}')
print(f'Contagio inicio: {df_br["date"].iloc[0]}')
print('')
print('Fim')
print(f'Vacina fim:      {df_vaccines["date"].iloc[-1]}')
print(f'Contagio fim:    {df_br["date"].iloc[-1]}')

Inicio
Vacina inicio:   2020-05-20 00:00:00
Contagio inicio: 2020-05-20 00:00:00

Fim
Vacina fim:      2024-03-09 00:00:00
Contagio fim:    2023-03-09 00:00:00

***3*** - Renomear as colunas.

In [ ]:
df_vaccines = df_vaccines.rename(
  columns={
    'location': 'country',
    'total_vaccinations': 'total',
    'people_vaccinated': 'one_shot',
    'people_fully_vaccinated': 'two_shots',
    'total_boosters': 'three_shots',
  }
)

***4*** - Criando colunas do mês e do ano.

In [ ]:
df_vaccines['month'] = df_vaccines['date'].apply(lambda date: date.strftime('%Y-%m'))
df_vaccines['year']  = df_vaccines['date'].apply(lambda date: date.strftime('%Y'))

***5*** - Calcula a porcentagem de vacinados em cada categoria.

In [ ]:
df_vaccines['one_shot_perc'] = round(df_vaccines['one_shot'] / df_vaccines['population'], 4)
df_vaccines['two_shots_perc'] = round(df_vaccines['two_shots'] / df_vaccines['population'], 4)
df_vaccines['three_shots_perc'] = round(df_vaccines['three_shots'] / df_vaccines['population'], 4)

***6*** - Converte algumas colunas para inteiros.

In [ ]:
df_vaccines['population'] = df_vaccines['population'].astype('Int64')
df_vaccines['total'] = df_vaccines['total'].astype('Int64')
df_vaccines['one_shot'] = df_vaccines['one_shot'].astype('Int64')
df_vaccines['two_shots'] = df_vaccines['two_shots'].astype('Int64')
df_vaccines['three_shots'] = df_vaccines['three_shots'].astype('Int64')

***7*** - Define a ordem das colunas.

In [ ]:
df_vaccines = df_vaccines[['date', 'country', 'population', 'total', 'one_shot', 'one_shot_perc', 'two_shots', 'two_shots_perc', 'three_shots', 'three_shots_perc', 'month', 'year']]

***8*** - Visão geral do Dataframe resultante

In [ ]:
print('Nomes e ordem das colunas:')
print(df_vaccines.columns,'\n\n')
print('Tamanho do Dataframe:')
print(df_vaccines.shape,'\n\n')
print('Informações do Dataframe;')
print(df_vaccines.info(),'\n\n')
print('Visualizar o Dataframe:')
print(df_vaccines.head(10))
print(df_vaccines.tail(10))

Nomes e ordem das colunas:
Index(['date', 'country', 'population', 'total', 'one_shot', 'one_shot_perc',
       'two_shots', 'two_shots_perc', 'three_shots', 'three_shots_perc',
       'month', 'year'],
      dtype='object')


Tamanho do Dataframe:
(1390, 12)


Informações do Dataframe;
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1390 entries, 0 to 1389
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              1390 non-null   datetime64[ns]
 1   country           1390 non-null   object
 2   population        1390 non-null   Int64
 3   total             1148 non-null   Int64
 4   one_shot          1148 non-null   Int64
 5   one_shot_perc     1148 non-null   float64
 6   two_shots         1129 non-null   Int64
 7   two_shots_perc    1129 non-null   float64
 8   three_shots       920 non-null    Int64
 9   three_shots_perc  920 non-null    float64
 10  month             1390 non-null   object
 11  year              1390 non-null   object
dtypes: Int64(5), datetime64[ns](1), float64(3), object(3)
memory usage: 137.2+ KB
None


Visualizar o Dataframe:
        date country  population  total  one_shot  one_shot_perc  two_shots  \
0 2020-05-20  Brazil   215313504   <NA>      <NA>            NaN       <NA>
1 2020-05-21  Brazil   215313504   <NA>      <NA>            NaN       <NA>
2 2020-05-22  Brazil   215313504   <NA>      <NA>            NaN       <NA>
3 2020-05-23  Brazil   215313504   <NA>      <NA>            NaN       <NA>
4 2020-05-24  Brazil   215313504   <NA>      <NA>            NaN       <NA>
5 2020-05-25  Brazil   215313504   <NA>      <NA>            NaN       <NA>
6 2020-05-26  Brazil   215313504   <NA>      <NA>            NaN       <NA>
7 2020-05-27  Brazil   215313504   <NA>      <NA>            NaN       <NA>
8 2020-05-28  Brazil   215313504   <NA>      <NA>            NaN       <NA>
9 2020-05-29  Brazil   215313504   <NA>      <NA>            NaN       <NA>

   two_shots_perc  three_shots  three_shots_perc    month  year
0             NaN         <NA>               NaN  2020-05  2020
1             NaN         <NA>               NaN  2020-05  2020
2             NaN         <NA>               NaN  2020-05  2020
3             NaN         <NA>               NaN  2020-05  2020
4             NaN         <NA>               NaN  2020-05  2020
5             NaN         <NA>               NaN  2020-05  2020
6             NaN         <NA>               NaN  2020-05  2020
7             NaN         <NA>               NaN  2020-05  2020
8             NaN         <NA>               NaN  2020-05  2020
9             NaN         <NA>               NaN  2020-05  2020
           date country  population      total   one_shot  one_shot_perc  \
1380 2024-02-29  Brazil   215313504  486436436  189643431         0.8808
1381 2024-03-01  Brazil   215313504  486436436  189643431         0.8808
1382 2024-03-02  Brazil   215313504  486436436  189643431         0.8808
1383 2024-03-03  Brazil   215313504  486436436  189643431         0.8808
1384 2024-03-04  Brazil   215313504  486436436  189643431         0.8808
1385 2024-03-05  Brazil   215313504  486436436  189643431         0.8808
1386 2024-03-06  Brazil   215313504  486436436  189643431         0.8808
1387 2024-03-07  Brazil   215313504  486436436  189643431         0.8808
1388 2024-03-08  Brazil   215313504  486436436  189643431         0.8808
1389 2024-03-09  Brazil   215313504  486436436  189643431         0.8808

      two_shots  two_shots_perc  three_shots  three_shots_perc    month  year
1380  176164186          0.8182    126388587             0.587  2024-02  2024
1381  176164186          0.8182    126388587             0.587  2024-03  2024
1382  176164186          0.8182    126388587             0.587  2024-03  2024
1383  176164186          0.8182    126388587             0.587  2024-03  2024
1384  176164186          0.8182    126388587             0.587  2024-03  2024
1385  176164186          0.8182    126388587             0.587  2024-03  2024
1386  176164186          0.8182    126388587             0.587  2024-03  2024
1387  176164186          0.8182    126388587             0.587  2024-03  2024
1388  176164186          0.8182    126388587             0.587  2024-03  2024
1389  176164186          0.8182    126388587             0.587  2024-03  2024

### 5.3 - Carregamento

***1*** - Vamos  salvar o Dataframe tratado em um arquivo CSV.

In [ ]:
df_vaccines.to_csv('./covid-vaccines.csv', sep=',', index=False)